.sidediv {
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 120px;
  overflow:scroll;
}
.content {
  height: 100%;
  right: 0;
  top: 0;
  padding-left: 50px;
  display: inline-block;
}
.row {
  width: 100%;
  padding: 5px 5px 5px 100px;
}
